# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
# Better Alternative: To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip install pipreqs' then 'pipreqs --ignore .venv --scan-notebooks --force' in the terminal to overwrite this file